*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.global-content {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  display: block;
  color: #756f63;
  max-width: 30%;
  margin-left: 34%;
  text-align: center;
  padding-top: 24px;
}

.global-desc {
  font-family: "avenir-light";
  font-size: 16px;
  line-height: 24px;
  color: #756f63;
  padding: 0 0 25px;
  text-align: center;
}

.global-card-image {
  max-width: 256px;
  object-fit: cover;
}

.global-card-title {
  font-size: 20px;
  color: #8b3a00;
  line-height: 22px;
  font-weight: 700;
  padding: 15px 0 10px;
}

.global-card-price {
  color: #756f63;
  font-size: 16px;
}

.global-container {
  position: relative;
  max-height: 462px;
}

.global-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.global-main {
  z-index: 10;
  margin: 140px 100px 0 100px;
  background-color: #fff;
  padding-top: 30px;
}

.global-title {
  color: #000;
  padding: 21px 0 18px;
  border-top: 2px solid #756f63;
  border-bottom: 2px solid #756f63;
  text-transform: uppercase;
  margin: 42px 56px;
  font-size: 34px;
  font-weight: 800;
}

.header-top {
  position: relative;
  width: 100%;
  background-color: #333;
  height: 60px;
  display: flex;
  align-items: center;
}
.header-top-item {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 14%;
  padding: 10px 16px;
  background-color: #e2e1de;
}
.header-top-link {
  position: relative;
  color: #4e4a42;
  text-decoration: none;
}
.header-top-link:not(:last-child):after {
  content: "";
  position: absolute;
  height: 26px;
  width: 1px;
  top: -8%;
  left: 110%;
  background-color: #333;
}

.header-container {
  background-color: #fff;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.header-nav-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 70px;
}
.header-nav-item {
  margin-left: 15px;
}
.header-nav-link {
  color: #4e4a42;
  font-size: 17px;
  width: 100%;
  font-family: "avenir-light";
}
.header-nav-link:hover {
  color: #8b3a00;
  transition: all 0.3s linear;
}
.header-image {
  margin: 0 10px;
}
.header-image-item {
  max-width: 134px;
  max-height: 134px;
  object-fit: cover;
  margin-right: 40px;
}
.header-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header-input-item {
  max-width: 180px;
  border-radius: 4px;
}
.header-search {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 0;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-icon-item {
  position: relative;
  font-size: 28px;
  color: #756f63;
}
.header-icon-item:hover {
  color: #3e2b05;
  transition: all 0.3 linear;
}
.header-icon-item:last-child:after {
  font-size: 14px;
  color: #fff;
  content: "0";
  position: absolute;
  top: 47%;
  right: -26%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #8B3A00;
}
.header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 0.2s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-nav-contact {
  position: absolute;
  background-color: #fff;
  top: 145%;
  left: -241%;
  z-index: 1000;
  width: 250px;
  display: none;
}

.header-contact-item:first-child {
  padding: 8px 0;
  background-color: #333;
  text-align: center;
}

.header-contact-item:not(:first-child) {
  position: relative;
  text-align: center;
  padding: 8px 0;
}
.header-contact-item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #4e4a42;
}

.header-contact-links {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 2;
  padding: 5px 35px;
  color: #fff;
}
.header-contact-links:after {
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background: url(https://www.neighborscoffeeroasters.com/wp-content/uploads/2017/06/uparrow.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -4%;
  margin: 0 auto;
  left: 47%;
  right: 0px 127px;
}
.header-contact-links:hover {
  color: #8b3a00;
  transition: all 0.2s linear;
}

.header-contact-link {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 2;
  padding: 5px 35px;
  color: #4e4342;
}
.header-contact-link:hover {
  color: #8b3a00;
  transition: all 0.2s linear;
}

.header-nav-shop {
  position: relative;
}
.header-nav-shop:hover .header-nav-contact {
  display: block;
}

.seller {
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller-left {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #231f20;
  margin: 0 auto;
}
.seller-left-image {
  margin-top: 30px;
  margin-left: 34%;
  margin-bottom: 20px;
}
.seller-coffer {
  max-width: 50%;
  object-fit: cover;
}
.seller-left-title {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 25px;
  font-size: 65px;
  color: #fff;
  text-align: center;
}
.seller-left-footer {
  display: flex;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
}
.seller-left-desc {
  border-right: 1px solid #fff;
  margin: 0 30px 0 0;
  padding: 0 30px 0 0;
  font-family: "avenir-light";
  font-size: 1.6em;
  max-width: 325px;
}
.seller-left-desc span {
  display: block;
  text-align: center;
}
.seller-left-button {
  background-color: #5D5149;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  padding: 15px 25px;
  text-transform: uppercase;
  max-width: 150px;
}
.seller-left-button:hover {
  background-color: #fff;
  border-color: #5D5149;
  color: #5D5149;
  text-decoration: none;
  outline: 0px none !important;
  transition: all 0.25s linear;
}
.seller-right {
  height: 500px;
  width: 100%;
  background-color: #5d5149;
}
.seller-shipper {
  margin-top: 30px;
  max-width: 50%;
  object-fit: cover;
  margin-left: 30%;
  margin-bottom: 30px;
}
.seller-right-title {
  font-family: "Playfair Display", serif;
  font-size: 65px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
}
.seller-right-desc {
  color: #fff;
  text-align: center;
  font-family: "avenir-light";
  font-size: 20px;
  padding-bottom: 10px;
}
.seller-right-button {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #5D5149;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  padding: 15px 25px;
  text-transform: uppercase;
  max-width: 150px;
}
.seller-right-button:hover {
  background-color: #fff;
  border-color: #5D5149;
  color: #5D5149;
  text-decoration: none;
  outline: 0px none !important;
  transition: all 0.25s linear;
}

.flavors {
  background-color: #afafac;
  padding-bottom: 34px;
}
.flavors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.blends {
  background-color: #c5c4c1;
  padding-bottom: 34px;
}
.blends-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.category {
  padding-bottom: 80px;
}
.category-top {
  position: relative;
  text-align: center;
  padding: 35px 0 0;
  padding-bottom: 100px;
  background-color: #e2e1de;
}
.category-top::after {
  position: absolute;
  content: "";
  width: 32%;
  height: 2px;
  right: 34%;
  bottom: 25%;
  background: #ada9a0;
}
.category-content {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  color: #756F63;
}
.category-desc {
  font-family: "avenir-light";
  font-size: 15px;
  padding-bottom: 0px;
  padding-top: 20px;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: 300;
  color: #756f63;
}
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 38px;
}
.category-card-image {
  max-width: 196px;
  object-fit: cover;
  padding-bottom: 20px;
}
.category-card-desc {
  font-size: 16px;
  color: #756f63;
}
.category-card-desc span {
  background-color: #fff9c0;
}

.video {
  position: relative;
}
.video-content {
  max-width: 744px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.video-title {
  padding: 0 0 12px;
  color: #fff;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.6px;
  line-height: 45px;
  margin: 0;
}
.video-desc {
  color: #fff;
  font-family: "avenir-light";
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.myvideo {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.story {
  padding-top: 100px;
  background-color: #e2e1de;
}
.story-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.story-right {
  max-width: 450px;
}
.story-title {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  color: #756f63;
  text-align: center;
  padding-bottom: 10px;
}
.story-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 1px;
  background: #ada9a0;
}
.story-desc {
  font-family: "avenir-light";
  font-size: 14px;
  line-height: 24px;
  color: #756f63;
  padding: 20px 0 25px;
  text-align: center;
}

.story-image {
  max-width: 350px;
  object-fit: cover;
}

.story-payment {
  padding-bottom: 200px;
  padding-top: 40px;
  text-align: center;
}
.story-payment-image {
  max-width: 300px;
  object-fit: cover;
  margin: 0 auto;
  padding-bottom: 30px;
}
.story-payment-address {
  font-size: 25px;
  line-height: 28px;
  color: #756f63;
}
.story-payment-title {
  font-weight: 600;
}
.story-payment-desc {
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.story-form {
  text-align: center;
  padding-bottom: 230px;
  border-bottom: 12px solid rgba(39, 37, 33, 0.5);
}

.story-form {
  position: relative;
}
.story-note {
  position: absolute;
  top: -7%;
  left: 29%;
  font-size: 14px;
  line-height: 24px;
  color: #756f63;
}
.story-infor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.story-infor-title {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
  color: #756f63;
  padding-bottom: 10px;
}
.story-infor-title span {
  color: #E80000;
}

.input-infor {
  background: #f7f7f7;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  box-shadow: none;
  color: #787878;
  transition: all 0.5s;
  padding: 8px 28px;
}
.input-infor:focus {
  border: 1px solid #333333;
}

.story-message {
  position: relative;
  padding: 44px 0 20px;
}
.story-message-title {
  position: absolute;
  text-align: none;
  top: 3%;
  right: 64%;
}

.input-message {
  width: 514px;
  padding-bottom: 200px;
}
.input-message:focus {
  border: 1px solid #333;
}

.btn-message {
  position: absolute;
  right: 61%;
  top: 60%;
  background-color: #5d5149;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 17px;
  height: auto;
  padding: 15px 25px;
  text-transform: uppercase;
  max-width: 150px;
}
.btn-message:hover {
  background-color: #fff;
  border-color: #5D5149;
  color: #5D5149;
  text-decoration: none;
  outline: 0px none !important;
  transition: all 0.25s linear;
}

.story-icon {
  display: flex;
  position: absolute;
  bottom: 15%;
  right: 40%;
}
.story-icon-item {
  padding: 0 30px;
  color: #fff;
  font-size: 34px;
}
.story-icon-item:hover {
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.footer {
  background-color: #272521;
  padding-bottom: 10px;
}
.footer-image {
  max-width: 150px;
  object-fit: cover;
  padding-top: 15px;
}
.footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 60px 0 40px 0;
}
.footer-list-items {
  padding-bottom: 10px;
}
.footer-list-link {
  font-size: 15px;
  line-height: 1.7;
  color: #fff;
}
.footer-list-link:hover {
  color: #8b3a00;
  transition: all 0.25s linear;
}
.footer-list-links {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #fff;
  cursor: inherit;
}

.footer-btn {
  padding-top: 5%;
}
.footer-btn-item {
  background: #3f3f41;
  display: inline-block;
  text-transform: uppercase;
  min-width: 165px;
  padding: 9px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #25221e;
  color: #fff;
}
.footer-btn-item:hover {
  color: #8b3a00;
  transition: all 0.25s linear;
  cursor: pointer;
}

.footer-end {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  line-height: 14px;
  color: #756f63;
  padding-bottom: 20px;
}

.cart {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.cart-container {
  position: relative;
}

.cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
  width: 100%;
}

.cart-grid {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background-color: #fff;
}

.cart-list {
  margin-top: 55px;
  color: #000;
  padding: 24px 0 21px;
  border-top: 2px solid #756f63;
  border-bottom: 2px solid #756f63;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.cart-empty {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding: 1em 2em 1em 1.5em;
  margin: 4em 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border-top: 3px solid #0693e3;
  list-style: none outside;
  width: auto;
  word-wrap: break-word;
}

.cart-empty-icon {
  padding-right: 10px;
  color: #0693e3;
}

.cart-empty-btn {
  font-size: 94%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.cart-empty-btn:hover {
  background-color: #dfdcde;
  text-decoration: none;
  background-image: none;
  color: #515151;
}

.cart-footer {
  margin-top: 60px;
  text-align: center;
  background-color: #dddddd;
  padding: 20px 0;
  border-radius: 20px;
}

.cart-footer-content {
  border: 0;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-style: inherit;
  font-weight: 700;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #756f63;
}

.login {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.login-container {
  position: relative;
}

.login-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

.login-grid {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74%;
  height: 80%;
  background-color: #fff;
}

.login-list {
  margin-top: 55px;
  color: #000;
  padding: 24px 0 21px;
  border-top: 2px solid #756f63;
  border-bottom: 2px solid #756f63;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.login-table {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 70px;
}

.login-address {
  position: relative;
  width: 400px;
  border: 1px solid #d3ced2;
  padding: 20px;
  margin: 2em 0;
  text-align: left;
  border-radius: 5px;
}

.login-title {
  padding: 10px 30px;
}
.login-title span {
  color: red;
}

.login-input {
  width: 100%;
  border: solid 1px #cbc9c9;
  margin: 0 10px;
}

.login-user {
  padding: 10px 0;
}

.login-remember {
  padding: 15px;
  position: relative;
}
.login-remember span {
  padding-left: 30px;
}

.login-btn {
  font-size: 90%;
  margin: 0 8px 0 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.login-btn:hover {
  background-color: #dfdcde;
  text-decoration: none;
  background-image: none;
  color: #515151;
}

.login-checkbox {
  position: absolute;
  font-size: 12px;
  height: 18px;
  top: 34%;
  right: 62%;
}

.login-lost {
  padding: 10px;
}

.login-slogan {
  position: absolute;
  top: -18%;
  left: 0;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  color: #756f63;
}

.shop {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 85px;
}
.shop-container {
  position: relative;
  max-height: 462px;
}
.shop-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.shop-main {
  z-index: 10;
  margin: 140px 100px 0 100px;
  background-color: #fff;
  padding-top: 30px;
}

.shop-title {
  color: #000;
  padding: 21px 0 18px;
  border-top: 2px solid #756f63;
  border-bottom: 2px solid #756f63;
  text-transform: uppercase;
  margin: 42px 56px;
  font-size: 34px;
  font-weight: 800;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 56px;
}

.shop-card {
  padding-bottom: 34px;
}

.shop-card-image {
  max-width: 280px;
  object-fit: cover;
}

.shop-card-desc {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #756f63;
  font-size: 14px;
  padding-top: 10px;
}
.shop-card-desc span {
  background: #fff9c0;
  border: 0;
  color: inherit;
  text-decoration: none;
}

.contact {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 85px;
}
.contact-container {
  position: relative;
  max-height: 462px;
}
.contact-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.contact-main {
  z-index: 10;
  margin: 140px 100px 0 100px;
  background-color: #fff;
  padding: 50px 30px 0 30px;
}

.contact-title {
  color: #000;
  padding: 21px 0 18px;
  border-top: 2px solid #756f63;
  border-bottom: 2px solid #756f63;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 40px;
}

.contact-desc {
  text-align: center;
}

.contact-desc-content {
  margin: 10px 0;
  font-family: "avenir-light";
  font-size: 16px;
  line-height: 24px;
  color: #756f63;
  padding: 0 0 25px;
}

.contact-form {
  padding-top: 60px;
  text-align: center;
}

.contact-top {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 30px;
}

.contact-top-input {
  border: 1px solid #756f63;
  padding: 12px;
  width: 430px;
  height: 50px;
  background-color: #f7f7f7;
}

.contact-footer-input {
  border: 1px solid #333;
}

.contact-top-title {
  font-family: "avenir-light";
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
  color: #756f63;
}
.contact-top-title span {
  color: red;
}

.contact-footer-content {
  font-family: "avenir-light";
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
  color: #756f63;
  max-width: 36%;
}
.contact-footer-content span {
  color: red;
}

.contact-footer-input {
  position: relative;
  border: 1px solid #756f63;
  padding: 12px;
  width: 900px;
  height: 300px;
  background-color: #f7f7f7;
}

.footer-button {
  margin-top: 40px;
  background-color: #5D5149;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  padding: 15px 25px;
  text-transform: uppercase;
}
.footer-button:hover {
  background-color: #fff;
  border-color: #5D5149;
  color: #5D5149;
  transition: all 0.3s linear;
}

.bestsellers {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.bestsellers-main {
  position: relative;
}
.bestsellers-main:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 3%;
  width: 95%;
  border: 2px dashed #CEC2AB;
}

.bestsellers-title {
  font-family: "avenir-light";
  margin-left: 50px;
  font-size: 44px;
  font-weight: 500;
  color: #756f63;
  margin-bottom: 20px;
}

.bestsellers-card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.bestsellers-card-image {
  max-width: 208px;
  object-fit: cover;
}

.bestsellers-card-desc {
  font-size: 16px;
  line-height: 18px;
  padding: 15px 0 15px;
  font-weight: 700;
  color: #756f63;
}

.bestsellers-card-price {
  color: #756f63;
  font-size: 16px;
}

.bestsellers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bestsellers-flavored {
  margin-bottom: 20px;
}

/*# sourceMappingURL=app.css.map */
