.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.global-content {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  display: block;
  color: #756f63;
  max-width: 30%;
  margin-left: 34%;
  text-align: center;
  padding-top: 24px;
}
.global-desc {
    font-family: 'avenir-light';
    font-size: 16px;
    line-height: 24px;
    color: #756f63;
    padding: 0 0 25px;
    text-align: center;
}
.global-card-image {
  max-width: 256px;
  object-fit: cover;
}
.global-card-title {
  font-size: 20px;
  color: #8b3a00;
  line-height: 22px;
  font-weight: 700;
  padding: 15px 0 10px;
}
.global-card-price {
  color: #756f63;
  font-size: 16px;
}
.global-container {
  position: relative;
  max-height:462px;
}
.global-image {
  position:absolute;
  z-index: -1;
  width: 100%;
  max-height:300px;
  object-fit: cover;
}
.global-main {
  z-index: 10;
  margin:  140px 100px 0 100px;
  background-color: #fff;  
  padding-top: 30px;
}
.global-title {
  color: #000;
  padding: 21px 0 18px;
  border-top: 2px solid rgba(117, 111, 99, 1);
  border-bottom: 2px solid rgba(117, 111, 99, 1);
  text-transform: uppercase;
  margin: 42px 56px ;
  font-size: 34px;
  font-weight:800;
}


// sài chung
.globals-synthetic {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.globals-top {
  position: relative;
}
.global-top-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250vh;
  width: 100%;
  z-index: -1000;
}
.globals-view {
  padding: 0 12px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  height: 80%;
}
.globals-choose {
  display: flex;
  align-items: center;  
}
.globals-choose-title {
  max-width:50px;
  color: red;
  margin-right: 10px;
  font-weight: 700;
  &:hover {
    opacity: 0.5;
  }
}
.globals-choose-view {
  margin: 0 5px 0 0;
  &:hover {
    opacity: .5;
    transition: all 0.25s linear;
    cursor: pointer;
  }
}
.globals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.globals-card-image {
  max-width: 225px;
  object-fit: cover;
  height: 230px;
}
.globals-card-desc {
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  padding: 15px 0 22px;
  font-weight: 700;
}
.globals-card-price {
  color: #fff;
}
.globals-card {
  padding-top: 30px;
}
.globals-Quantity  {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.quantity-item-links {
  color: #000;
  padding: 12px 17px;
  border-radius: 50%;
  background-color: #fff;
  line-height:0.6;
  font-size:17px;
}

.quantity-item-link {
  color: #fff;
  padding: 12px 17px;
  border-radius: 50%;
  background-color: #000;
  line-height:0.6;
  font-size:17px;
  &:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
}
.globals-icon {
  font-size:12px;
}