.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.global-content {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  display: block;
  color: #756f63;
  max-width: 30%;
  margin-left: 34%;
  text-align: center;
  padding-top: 24px;
}
.global-desc {
    font-family: 'avenir-light';
    font-size: 16px;
    line-height: 24px;
    color: #756f63;
    padding: 0 0 25px;
    text-align: center;
}
.global-card-image {
  max-width: 256px;
  object-fit: cover;
  cursor: pointer;
}
.global-card-title {
  font-size: 20px;
  color: #8b3a00;
  line-height: 22px;
  font-weight: 700;
  padding: 15px 0 10px;
}
.global-card-price {
  color: #756f63;
  font-size: 16px;
}
.global-container {
  position: relative;
  max-height:462px;
}
.global-image {
  position:absolute;
  z-index: -1;
  width: 100%;
  max-height:300px;
  object-fit: cover;
}
.global-main {
  z-index: 10;
  margin:  140px 100px 0 100px;
  background-color: #fff;  
  padding-top: 30px;
}
.global-title {
  color: #000;
  padding: 21px 0 18px;
  border-top: 2px solid rgba(117, 111, 99, 1);
  border-bottom: 2px solid rgba(117, 111, 99, 1);
  text-transform: uppercase;
  margin: 42px 56px ;
  font-size: 34px;
  font-weight:800;
}


// Global-view
.globals-synthetic {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.globals-top {
  position: relative;
}
.global-top-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250vh;
  width: 100%;
  z-index: -1000;
}
.globals-view {
  padding: 0 12px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  height: 71%;
}
.globals-choose {
  display: flex;
  align-items: center;  
}
.globals-choose-title {
  max-width:50px;
  color: greenyellow;
  margin-right: 10px;
  font-weight: 700;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
.globals-choose-view {
  margin: 0 5px 0 0;
  &:hover {
    opacity: .5;
    transition: all 0.25s linear;
    cursor: pointer;
  }
}
.globals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.globals-card-image {
  max-width: 225px;
  object-fit: cover;
  height: 230px;
}
.globals-card-desc {
  font-size: 18px;
  color: #ffffff;
  line-height: 18px;
  padding: 15px 0 22px;
  font-weight: 700;
  max-width: 250px;
}
.globals-card-price {
  color: #fff;
}
.globals-card {
  padding-top: 30px;
}
.globals-Quantity  {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.quantity-item-links {
  color: #000;
  padding: 12px 17px;
  border-radius: 50%;
  background-color: #fff;
  line-height:0.6;
  font-size:17px;
}

.quantity-item-link {
  color: #fff;
  padding: 12px 17px;
  border-radius: 50%;
  background-color: #000;
  line-height:0.6;
  font-size:17px;
  &:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
}
.globals-icon {
  font-size:12px;
}

//Global Card
.global-card-top-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  z-index: -1000;
}
.globalcard-container{
  display:flex;
  justify-content: center;
  gap: 140px;
  background: #333;
  padding: 30px 30px 46px 30px;
  animation:modalShow 0.5s linear;
}
.globalcard-left {
  max-width:470px;
}
.globalcard-image {
  max-height: 375px;
  margin-bottom: 20px;
}
.globalcard-title {
  font-family: 'avenir-light';
  font-size: 22px;
  line-height: 28px;
  padding: 20px 0 0 0;
  text-transform: capitalize;
  color:#fff;
  margin-bottom: 20px;
}
.globalcard-information {
  color:#fff;
  font-size:14px;
}
.globalcard-price {
  padding: 20px 0;
  color:#fff;
  font-size:17px;
}
.globalcard-inputQuantity {
  padding: 0 0 30px 0;
  span {
    font-weight: 400;
    color:#fff;
    font-size:16px;
    padding-left: 10px;
  }
}
.globalcard-inputNumber {
  text-align: center;
}
.globalcard-btn {
 padding: 10px 120px;
  box-sizing: border-box;
  background-color: #52ab3c;
  color: #fff;
  opacity: 1;
  cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: all 0.25s linear;
    }
}
.globalcard-production {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a7a7a5;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius:4px;
  padding: 10px 15px;
  cursor: pointer;
}
.globalcard-production-info {
  font-family: fontAwesome;
  pointer-events: none;
}
.globalcard-icon {
  font-size: 20px;
  pointer-events: none;
}
.globalcard-content {
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  max-width: 377px;
  span {
    color: #756f63;
    font-size:14px;
    padding: 0 0 25px;
  }
}
.globalcard-desc {
  font-family: 'avenir-light';
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 25px;
}
.globalcard-category {
  background-color: #a7a7a5;
  border: 1px solid #fff;
  border-radius:4px;
  padding: 10px 15px;
  height: 80px;
  display: none;
}
.is-show {
  display: block;
}
.is-none {
  display: none;
}
.globals-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.globals-close-icon {
  position: absolute;
  top: -2%;
  right: 1%;
  padding: 5px;
  font-size: 35px;
  cursor: pointer;
}
.globals-close {
  color: greenyellow;
}
@keyframes modalShow {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}