.story {
padding-top: 100px;
background-color:#e2e1de;
&-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}
  &-right {
    max-width: 450px;
  }
  &-title {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 400;
    color: #756f63;
    text-align: center;
    padding-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50%;
      height: 1px;
      background: #ada9a0;
    }
  }
  &-desc {
    font-family: 'avenir-light';
    font-size: 14px;
    line-height: 24px;
    color: #756f63;
    padding: 20px 0 25px;
    text-align: center;
  }

}
.story-image {
  max-width:350px;
  object-fit: cover;
}
.story {
  &-payment {
    padding-bottom: 200px;
    padding-top: 40px;
    text-align: center;
    &-image {
      max-width:300px;
      object-fit: cover;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    &-address {
      font-size: 25px;
      line-height: 28px;
      color: #756f63;
    }
    &-title {
      font-weight: 600;
    }
    &-desc {
      font-weight: 400;
      font-family: 'Playfair Display', serif;
    }
  }
}
.story-form {
  text-align: center;
  padding-bottom: 230px;
  border-bottom: 12px solid rgba(39, 37, 33, 0.5);
}
.story {
  &-form {
    position: relative;
  }
  &-note {
    position: absolute;
    top: -7%;
    left: 29%;
    font-size: 14px;
    line-height: 24px;
    color: #756f63;
  }
  &-infor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &-title {
      font-weight: 700;
      font-size: 18px;
      text-align: left;
      line-height: 24px;
      color: #756f63;
      padding-bottom: 10px;
      span {
        color:#E80000;
      }
    }
  }
}
.input-infor {
    background: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    box-shadow: none;
    color: #787878;
    transition: all .5s;
    padding: 8px 28px;
    &:focus {
      border: 1px solid #333333;
    }
}
.story-message {
  position: relative;
  padding: 44px 0 20px;
  &-title {
    position: absolute;
    text-align:none;
    top: 3%;
    right: 64%;
  }
}
.input-message {
  width: 514px;
  padding-bottom: 200px;
  &:focus {
    border: 1px solid #333;
  }
}
.btn-message {
  position: absolute;
  right: 61%;
  top: 60%;
  background-color: rgb(93, 81, 73);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 17px;
  height: auto;
  padding: 15px 25px;
  text-transform: uppercase;
  max-width: 150px;
  &:hover {
    background-color: #fff;
    border-color: #5D5149;
    color: #5D5149;
    text-decoration: none;
    outline: 0px none !important;
    transition: all 0.25s linear;
  }
}
.story-icon {
  display: flex;
  position:absolute;
  bottom:15%;
  right: 40%;
  &-item {
    padding: 0 30px;
    color: #fff;
    font-size:34px;
    &:hover {
      background-color: #333;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s linear;
    }
  }
}
