section.bestsellers 
  .bestsellers-container.global-container 
    img.global-image.bestsellers-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/029638554-map-made-coffee-Cropped.jpg", alt="")
  .bestsellers-main.global-main 
    .global-title BEST SELLERS
    .bestsellers-title Straights
    .bestsellers-grid 
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Sumatra-Arabica-rev.jpg", "Sumatra Arabica Coffee", "$14.85 - $16.60")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Seattle-Sunset-2.jpeg", "Seattle Sunset Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Neighbors-Private-Blend-2.jpeg", "Neighbors Private Blend Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Kona-Blend-2.jpeg", "Kona Blend Coffee", "$26.35")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Kenya-AA-2.jpeg", "Kenya AA Coffee", "$20.25 – $20.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/French-Cafe-2.jpeg", "French Café Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Colombian-Supremo-2-1.jpeg", "Colombian Supremo Coffee", "$16.60 – $17.10")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Breakfast-Blend.jpeg", "Breakfast Blend Coffee", "$14.25 – $14.75")

  .global-main
    .bestsellers-title.bestsellers-flavored Straights  
    .bestsellers-grid 
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/89er-Blend-2.jpeg", "89’er Blend Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Almond-Amaretto-2.jpeg", "Almond Amaretto Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Caramel-Kiss-2.jpeg", "Caramel Kiss Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Creme-Brulee-2.jpeg", "Creme Brulee Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/French-Vanilla-Creme-2.jpeg", "French Vanilla Creme Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Hawaiian-Hazelnut-2.jpeg", "Hawaiian Hazelnut Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Hazelnut-Creme-2.jpeg", "Hazelnut Creme Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Snickerdoodle-2-1.jpg", "Snickerdoodle® Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Southern-Pecan-2.jpeg", "Southern Pecan Coffee", "$14.25 – $14.75")
      +bestsellersCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/VMNC.jpeg", "Vermont Maple Nut Crunch Coffee", "$14.25 – $14.75")