section.blends 
  .blends-top 
    .global-content Our Top Selling Straights $ Blends
    .global-desc Try What Others Love and Keep Buying
  .blends-container
    +blendsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Breakfast-Blend.jpeg", "Breakfast Blend Coffee", "$14.25 – $14.75") 
    +blendsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Colombian-Supremo-2-1.jpeg", "Colombian Supremo Coffee", "$16.60 – $17.10") 
    +blendsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Neighbors-Private-Blend-2.jpeg", "Neighbors Private Blend Coffee", "$14.25 – $14.75") 
    +blendsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Seattle-Sunset-2.jpeg", "Seattle Sunset Coffee", "$14.25 – $14.75") 