section.cart
  .cart-container
    img.cart-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/029638554-map-made-coffee-Cropped.jpg", alt="") 
    .cart-grid 
      .cart-list 
        .cart-list-item CART 
      .cart-empty 
        .cart-empty-icon 
          <ion-icon name="tablet-portrait"></ion-icon>
        .cart-empty-content Your cart is currently empty.  
      button.cart-empty-btn RETURN TO SHOP
      .cart-footer 
        .cart-footer-content $50 Ships Free!
    
      