section.category 
  .category-top 
    .category-content Shop by Category
    .category-desc FOR THE SWEETEST MOMENTS IN LIFE
  .category-container
    a.category-card(href="http://127.0.0.1:5500/indexstraights.html")
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Straights-Blends.jpg", alt="") 
      .category-card-desc Straights and Blends 
        span (29)
    a.category-card(href="http://127.0.0.1:5500/indexDark.html") 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Dark-Roast.jpeg", alt="") 
      .category-card-desc Dark Roast 
        span (10)
    a.category-card(href="http://127.0.0.1:5500/indexFlavored.html")
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Flavored-Coffee.jpeg", alt="") 
      .category-card-desc Flavored Coffee 
        span (114)
    a.category-card(href="http://127.0.0.1:5500/indexHoliday.html")
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Holiday-Coffee-600x600.jpeg", alt="") 
      .category-card-desc Holiday Coffee  
        span (9)      
    a.category-card(href="http://127.0.0.1:5500/indexNow.html") 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Gourmet-Tea-1.jpeg", alt="") 
      .category-card-desc Gourmet Tea 
        span (23)   