section.category 
  .category-top 
    .category-content Shop by Category
    .category-desc FOR THE SWEETEST MOMENTS IN LIFE
  .category-container
    .category-card 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Straights-Blends.jpg", alt="") 
      .category-card-desc Straights and Blends 
        span (29)
    .category-card 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Dark-Roast.jpeg", alt="") 
      .category-card-desc Dark Roast 
        span (10)
    .category-card 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Flavored-Coffee.jpeg", alt="") 
      .category-card-desc Flavored Coffee 
        span (114)
    .category-card 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Holiday-Coffee-600x600.jpeg", alt="") 
      .category-card-desc Holiday Coffee  
        span (9)      
    .category-card 
      img.category-card-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Gourmet-Tea-1.jpeg", alt="") 
      .category-card-desc Gourmet Tea 
        span (23)   