section.contact 
  .contact-container
   img.contact-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/029638554-map-made-coffee-Cropped.jpg", alt="")
  .contact-main 
    .contact-title CONTACT US
    .contact-desc 
      p.contact-desc-content Thank you for your interest in contacting us. We will get back to you within one business day if not sooner. We are serious about our customers and make every effort to answer any inquiries better and faster than most of the industry. 
      p.contact-desc-content By e-mail: sales@neighborscoffee.com
      p.contact-desc-content By Phone: 1-800-299-9016
  .contact-form 
    .contact-top
      .contact-colums 
        .contact-top-title Name 
          span *
        input.contact-top-input(type="text")
      .contact-colums  
        .contact-top-title Email
          span *
        input.contact-top-input(type="email")
    .contact-footer 
      .contact-footer-title  
        .contact-footer-content Message 
          span *
      input.contact-footer-input(type="message")
    button.footer-button SUBMIT  
