section.globals-synthetic
  .globals-top
    img.global-top-image(src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=800", alt="")
    .globals-view
      .globals-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid 
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2021/07/Italian-Roast.jpeg", "Italian Roast", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Dark-Chocolate-Fudge-1.jpeg", "Dark Chocolate Fudge Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Dark-Roast-Hazelnutjpeg.jpeg", "Dark Roast Hazelnut Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Dark-Roast-Raspberry-Creme-2.jpg", "Dark Roast Raspberry & Creme Coffee", "$14.25 – $14.75")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Dutch-Chocolate-Espresso.jpeg", "Dutch Chocolate Espresso Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Colombian-Viennese.jpeg", "Colombian Viennese Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Dark-French-Roast-1.jpeg", "Dark French Roast Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/French-Cafe-2.jpeg", "French Café Coffee", "$14.25 – $14.75")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Neighbors-NOrleans-Cafe-2.jpeg", "Neighbors N’Orleans Café Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Seattle-Sunset-2.jpeg", "Seattle Sunset Coffee", "$14.25 – $14.75")  
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>    

