section.globals-synthetic
  .globals-top
    img.global-top-image(src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=800", alt="")
    .globals-view
      .globals-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2020/09/Holiday_Flavor_Sampler_v4-768x768.png", "Holiday Flavor Sampler", "$50.00")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2020/12/Chilly-Vanilly-Peppermint-1k-2-768x768.jpg", "Chilly Vanilly Peppermint", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2020/12/Chocolate-Candy-Cane-Crush-1k-768x768.jpg", "Chocolate Candy Cane Crush", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/89er-Blend-2.jpeg", "89’er Blend Coffee", "$14.25 – $14.75")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Almond-Amaretto-2.jpeg", "Almond Amaretto Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Amaretto-2.jpeg", "Amaretto Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-Creme-2.jpeg", "Apricot Creme Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Banana-Bliss-2.jpg", "Banana Bliss Coffee", "$14.25 – $14.75")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Banana-Nut-Creme-2.jpg", "Banana Nut Creme Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Banana-Nut-Split-2.jpg", "Banana Nut Split Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Birthday-Cake-2jpeg-600x600.jpeg", "Birthday Cake Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Black-Forest-2.jpg", "Black Forest Coffee", "$14.25 – $14.75") 
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link.flavored-link ...
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 10    
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>    

