section.flavors
  .flavors-top 
    .global-content Our Top Selling Coffee Flavors
    .global-desc More Than 100 Delicious Flavors to Choose From
  .flavors-container
    +flavorsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/89er-Blend-2.jpeg", "89’er Blend Coffee", "$14.25 – $14.75")
    +flavorsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Almond-Amaretto-2.jpeg", "Almond Amaretto Coffee", "$14.25 – $14.75")
    +flavorsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Snickerdoodle-2-1.jpg", "Snickerdoodle® Coffee", "$14.25 – $14.75")
    +flavorsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Southern-Pecan-2.jpeg", "Southern Pecan Coffee", "$14.25 – $14.75")
    