footer.footer 
  .footer-container
    .footer-image
      a.image-link(href="http://127.0.0.1:5500/index.html")  
        img.footer-image-item(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/08/header-logo.png", alt="")
    .footer-list 
      .footer-list-items
        a.footer-list-links(href="#") Neighbors Coffee
      .footer-list-item
        a.footer-list-link(href="#") Privacy Policy
      .footer-list-item
        a.footer-list-link(href="#") Refund Policy
      .footer-list-item
        a.footer-list-link(href="#") Shipping Information
      .footer-list-item
        a.footer-list-link(href="#") Contact Us
      .footer-list-item
        a.footer-list-link(href="#") Brewing How To
      .footer-list-item
        a.footer-list-link(href="#") About Us
    .footer-list 
      .footer-list-items
        a.footer-list-links(href="#") Shop
      .footer-list-item
        a.footer-list-link(href="#") Coffee by Origin
      .footer-list-item
        a.footer-list-link(href="#") Dark Roast
      .footer-list-item
        a.footer-list-link(href="#") Flavored Coffee
      .footer-list-item
        a.footer-list-link(href="#") Gourmet Tea
      .footer-list-item
        a.footer-list-link(href="#") Straights and Blends
      .footer-list-item
        a.footer-list-link(href="#") Best Sellers
      .footer-list-item
        a.footer-list-link(href="#") Shop All Coffee
    .footer-list 
      .footer-list-items
        a.footer-list-links(href="#") SUPPORT 
      .footer-list-item
        a.footer-list-link(href="#")  View Your Account
      .footer-list-item
        a.footer-list-link(href="#") Tracking Order
      .footer-list-item
        a.footer-list-link(href="#") Contact Us                
    .footer-btn
      a.btn-footer(href="http://127.0.0.1:5500/indexLogin.html")
        button.footer-btn-item Create an Account
  .footer-end 
    span © 2020 Neighbors Coffee. All Rights Reserved.	

                              