section.globals-synthetic
  .globals-top
    img.global-top-image(src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=800", alt="")
    .globals-view
      .globals-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50") 
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>    

