section.globals-synthetic
  .globals-top
    img.global-card-top-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/coffee-beans-bkgrd-2.jpg", alt="")
    .globals-view
      .globalcard-container
        .globalcard-left  
          img.globalcard-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/89er-Blend-2.jpeg", alt="")
          .globalcard-content 
            .globalcard-desc Created to celebrate our Oklahoma heritage, we have blended the wonderful flavors of chocolate fudge, Irish creme, hazelnut and amaretto to make one of our most popular coffees.
            .globalcard-desc Packaged in 1lb. resealable bags. Net weight 16oz.
            span Brewing How To 
        .globalcard-right 
          .globalcard-title 89’Er Blend Coffee
          .globalcard-information SKU: PRD-3023
          .globalcard-price $14.25 – $14.75
          .globalcard-inputQuantity
            input.globalcard-inputNumber(type="number" value="1" min="0" max="500") 
            span Quantity 
          button.globalcard-btn ADD TO CART
          .globalcard-production 
            .globalcard-production-info PRODUCT INFO
            .globalcard-icon
              <i class="fa fa-plus icon" aria-hidden="true"></i>
          .globalcard-category
            .globalcar-category-content 1 Pound Bag | 89’er Blend® 



       
      

