section.login 
  .login-container 
    img.login-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/029638554-map-made-coffee-Cropped.jpg", alt="") 
    .login-grid 
      .login-list 
        .login-list-item MY ACCOUNT 
      .login-table 
        .login-address
          .login-slogan Login
          .login-user 
            .login-title Username or email address 
              span *
            input.login-input(type="text") 
          .login-user 
            .login-title Password
              span *
            input.login-input(type="password")  
          .login-remember
            button.login-btn LOG IN 
            input.login-checkbox(type="checkbox")
            span Remember me
          .login-lost 
            a.login-lost-link Lost your password?        
          
        .login-address
          .login-user 
            .login-title Email  
              span *
            input.login-input(type="text")
          .login-user 
            .login-title Phone number 
              span *
            input.login-input(type="text")   
          .login-user 
            .login-title Password 
              span *
            input.login-input(type="password")  
          .login-remember
            button.login-btn REGISTER
          .login-slogan Register
          