section.globals-synthetic.now-synthetic
  .globals-top.now-top
    img.global-top-image.now-top-image(src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=800", alt="")
    .globals-view.now-view
      .globals-choose.now-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid 
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Apricot", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-3oz.jpg", "3oz. Loose Leaf Cinnamon Orange", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Cranberry-Creme-3oz.jpg", "3oz. Loose Leaf Cranberry Creme", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Earl-Grey-3oz.jpg", "3oz. Loose Leaf Earl Grey", "$6.50")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/English-Breakfast-3oz.jpg", "3oz. Loose Leaf English Breakfast", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Ginger-Peachjpg.jpg", "3oz. Loose Leaf Ginger Peach", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Plum-3oz.jpg", "3oz. Loose Leaf Plum", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Apricot-20.jpg", "Tea Bag Apricot", "$6.50")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Cherry-Vanilla.jpg", "Tea Bag Cherry Vanilla", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Cinnamon-Orange-20-1.jpg", "Tea Bag Cinnamon Orange", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Cranberry-Creme-20jpg.jpg", "Tea Bag Cranberry Creme", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Darjeeling.jpg", "Tea Bag Darjeeling", "$6.50") 
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>