section.globals-synthetic
  .globals-top
    img.global-top-image(src="https://images.unsplash.com/photo-1493925410384-84f842e616fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=800", alt="")
    .globals-view
      .globals-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid 
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Mocha-Java.jpeg", "Mocha Java Blend Coffee", "$18.75 – $19.25")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/100-Colombian-2.jpeg", "100% Colombian Coffee", "$16.10 – $16.60")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Celebes-Kalossi-2.jpeg", "Celebes “Kalossi” Coffee", "$17.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Colombian-Supremo-2-1.jpeg", "Colombian Supremo Coffee", "$16.60 – $17.10")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Colombian-Viennese.jpeg", "Colombian Viennese Coffee", "$6.50")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Kona-Blend-2.jpeg", "Kona Blend Coffee", "$26.35")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Costa-Rican-2.jpeg", "Costa Rican Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Ethiopian-2.jpeg", "Ethiopian Coffee", "$18.75 – $19.25")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Guatemalan-SHB-2.jpeg", "Guatemalan SHB Coffee", "$14.25 – $14.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Java-Estate-2.jpeg", "Java Estate Coffee", "$16.70 – $17.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Kenya-AA-2.jpeg", "Kenya AA Coffee", "$20.25 – $20.75")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Panama-Cafe-2.jpeg", "Panama Cafe Coffee", "$14.25 – $14.75") 
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>    

