section.seller
  .seller-left 
    .seller-left-image 
      img.seller-coffer(src="https://neighborscoffeeroasters.com/wp-content/uploads/2020/05/NC_Coffee-Beans_REV-1.png", alt="") 
    .seller-left-title Best Sellers
    .seller-left-footer 
      p.seller-left-desc Roasted After You 
        span Order!
      a.btn-seller1(href="http://127.0.0.1:5500/indexBestsellers.html") 
        button.seller-left-button Shop Top Coffees 
  .seller-right 
    .seller-right-image 
      img.seller-shipper(src="https://neighborscoffeeroasters.com/wp-content/uploads/2020/05/NC_Flying-Box_REV_Web-Centered_Brown-BG-1.png", alt="") 
    .seller-right-title $50 Ships Free
    .seller-right-footer
      p.seller-right-desc OVER 180 TEAS AND COFFEES
      p.seller-right-desc TO CHOOSE FROM!
      a.btn-seller2(href="http://127.0.0.1:5500/indexNow.html")
        button.seller-right-button Shop Teas Now       
