section.shop 
  .shop-container 
    img.shop-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/029638554-map-made-coffee-Cropped.jpg", alt="")
  .shop-main 
    .shop-title CATEGORIES
    .shop-grid 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2020/05/Neighbors-Coffee-world-600x600.jpg","Coffee by Origin", "(20)") 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","Asia - Oceana", "(24)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","Central American", "(4)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","Rare Origins ", "(6)") 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","African", "(3)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","South American", "(6)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Straights-Blends.jpg","Straights and Blends", "(29)") 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Dark-Roast.jpeg","Dark Roast", "(10)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Flavored-Coffee.jpeg","Flavored Coffee ", "(114)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Holiday-Coffee-600x600.jpeg","Holiday Coffee", "(9)") 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Coffee-Beans.gif-2.jpg","Fair Trade/Organic Coffee", "(7)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Coffee_Single-Pot.jpg","Single Pots", "(14)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Gourmet-Tea-1.jpeg","Gourmet Tea", "(23)") 
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Neighbors-Tea.jpg","3oz Loose Leaf Tea", "(7)")
      +shopCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Neighbors-Tea.jpg","Tea Bags", "(16)")   

