section.globals-synthetic
  .globals-top
    img.global-top-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/coffee-beans-bkgrd-2.jpg", alt="")
    .globals-view
      .globals-choose 
        img.globals-choose-view.globals-choose-row(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/grid_view.png", alt="")
        .globals-choose-title.globals-title-row Grid View
        img.globals-choose-view.globals-choose-list(src="https://neighborscoffeeroasters.com/wp-content/themes/neighbors/assets/images/list_view.png",alt="")
        .globals-choose-title.globals-title-list List View
      .globals-grid
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/12/Southern-Pecan-Single-Pot.jpg", "Single Pot Southern Pecan Coffee (20 count)", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/12/Almond-Amaretto_Single-Pot-600x600.jpg", "Single Pot Almond Amaretto Coffee (20 count)", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/12/Caramel-Kiss_Single-Pot.jpg", "Single Pot Caramel Kiss Coffee (20 count)", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Creme-Brulee_Single-Pot-2.jpg", "Single Pot Creme Brulee Coffee", "$45.20")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Coffee_Single-Pot-768x768.jpg", "Single Pot French Vanilla Creme Coffee", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Hawaiian-Hazelnut_Single-Pot-1.jpg", "Single Pot Hawaiian Hazelnut Coffee", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Hazelnut-Creme_Single-Pot-Recovered.jpg", "Single Pot Hazelnut Creme Coffee", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Snickerdoodle_Single-Pot.jpg", "Single Pot Snickerdoodle® Coffee", "$45.20")
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Snowflake-Sundae_Single-Pot-Recovered.jpg", "Single Pot Snowflake Sundae Coffee", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Vermont-Maple-Nut-Crunch_Single-Pot-1.jpg", "Single Pot Vermont Maple Nut Crunch Coffee", "$45.20")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/04/Christmas-Creme_Single-Pot-Recovered.jpg", "Single Pot Christmas Creme Coffee", "$42.40")  
        +globalsCard("https://neighborscoffeeroasters.com/wp-content/uploads/2017/05/Holiday-Flavor.jpg", "Single Pot Holiday Cheer Coffee", "$45.20") 
      .globals-Quantity 
        li.globals-quantity-items
          a.quantity-item-links(href="#") 1
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 2
        li.globals-quantity-item 
          a.quantity-item-link(href="#") 
            <ion-icon class= "globals-icon"name="arrow-forward"></ion-icon>    

