section.video
  video.myvideo(autoplay='' muted='' loop='')
    source(src='./mp4/Computer - 47158.mp4' type='video/mp4')
  .video-content 
    .video-title “There is nothing better than a neighbor, unless it's a neighbor with a cup of coffee to share.”
    .video-desc Robert Wolfgang
     