section.story
  .story-container
    .story-top 
      img.story-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2021/08/Circa-76.jpg", alt="")
    .story-right 
      .story-title The Story
      .story-desc In 1972, Steve and Fred Neighbors founded Neighbors Coffee with the encouragement of their father, Earl, manager of a large regional coffee roaster (a subsidiary of Nestlé). Earl joined his two sons in 1975 and added his expertise in management and coffee production, along with a strong work ethic, to Neighbors Coffee. By the late 80’s, Neighbors Coffee had established itself as a gourmet coffee roaster and one of the largest independent coffee service companies in the country. Neighbors Coffee remains a privately-owned, family-operated business and has earned the title of industry leader.
  .story-payment 
    img.story-payment-image(src="https://neighborscoffeeroasters.com/wp-content/uploads/2017/03/Card-Types.png", alt="")
    .story-payment-address
      .story-payment-title CONTACT US
      .story-payment-desc By e-mail: sales@neighborscoffee.com
      .story-payment-desc By Phone: 1-800-299-9016
  .story-form 
    .story-note Fields marked with an * are required
    .story-infor
      .story-input 
        .story-infor-title Name 
          span *
        input.input-infor(type="text")
      .story-input  
        .story-infor-title Email 
          span *
        input.input-infor(type="email" )
    .story-message 
      .story-infor-title.story-message-title Message 
        span *
      input.input-message(type="message" )
    button.btn-message SUBMIT
    .story-icon 
      .story-icon-item 
        <ion-icon name="logo-buffer"></ion-icon>
      .story-icon-item 
        <ion-icon name="logo-foursquare"></ion-icon>
      .story-icon-item 
        <ion-icon name="logo-windows"></ion-icon>